<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
</head>
<body>
    <div>
        <form action="/action" method="post">
            <input type="text" name = 'senderID' id="senderID">
            <label for="senderID">Enter a Sender ID</label><br>
            
            <input type="text" name = 'message' id="message">
            <label for="message">Enter a Message</label><br>
            
            <button type="submit">Send</button>
        </form>
        <p>SenderID : {{ senderID }}</p>
        <p>Message : {{ message }}</p>
        <p>Flag : {{ flag }}</p>
    </div>
</body>
</html>